build/tmp
scripts/tmp
build/dist
*.env
build/.README.md
files/3-rinkhals/opt/rinkhals/patches/K3SysUi.*.[0-9]
files/3-rinkhals/opt/rinkhals/patches/K3SysUi.*.patch
files/3-rinkhals/opt/rinkhals/patches/gk*.*.[0-9]
files/3-rinkhals/opt/rinkhals/patches/gk*.*.patch
files/3-rinkhals/opt/rinkhals/patches/cache_*.json
